<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.helpoldadmin.dao.Blood_SugarDao">
    <select id="findAll" resultType="Blood_Sugar">
        select * from blood_sugar
    </select>

    <insert id="add" parameterType="Blood_Sugar">
        insert into blood_sugar values(#{uid},#{id},#{value},#{date},#{note})
    </insert>

    <update id="update" parameterType="Blood_Sugar">
        update blood_sugar set value=#{value},date=#{date},note=#{note} where id=#{id}
    </update>

    <delete id="deleteByID" parameterType="int">
        delete from blood_sugar where id=#{id}
    </delete>

    <select id="findByPage" resultType="Blood_Sugar">
        select * from blood_sugar limit #{nowPage},#{rows}
    </select>

    <select id="findTotals" resultType="Long">
        select count(*) from blood_sugar
    </select>

</mapper>